@media (width >= 992px) {
  .is-active-wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.3438em; // Match mat-form-field padding-bottom for alignment

    .is-active {
      margin: 0;
    }
  }
}

mat-divider {
  margin: 0 0 0.5em;
}

table {
  width: 100%;
}

.AddEventButton {
  margin-bottom: 10px;
}

.events-error-message {
  margin-top: 10px;
  margin-bottom: 10px;
}
