<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edit Discount Rule</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="submit()">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Rule Name</mat-label>
            <input matInput [(ngModel)]="discountRule.name" name="name" required />
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="discountRule.description" name="description"></textarea>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Rule Type</mat-label>
            <mat-select
              [(ngModel)]="discountRule.ruleType"
              name="ruleType"
              (selectionChange)="onRuleTypeChange($event.value)"
            >
              <mat-option value="">Select Rule Type</mat-option>
              <mat-option *ngFor="let ruleType of availableRuleTypes" [value]="ruleType.ruleType">
                {{ ruleType.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Dynamic Parameters Form -->
        <div *ngIf="selectedRuleTypeInfo" class="form-group">
          <h4>Rule Parameters</h4>
          <div *ngFor="let param of selectedRuleTypeInfo.requiredParameters" class="form-group">
            <mat-form-field>
              <mat-label>{{ param }}</mat-label>

              <!-- Date picker for date fields -->
              <ng-container *ngIf="isDateField(param)">
                <input
                  matInput
                  [matDatepicker]="datePicker"
                  [(ngModel)]="ruleParameters[param]"
                  [name]="param"
                  required
                  (ngModelChange)="onParameterChange()"
                />
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
              </ng-container>

              <!-- Dropdown for parameters with bracket notation -->
              <mat-select
                *ngIf="!isDateField(param) && selectedRuleTypeInfo.parameterDescriptions[param].includes('[')"
                [(ngModel)]="ruleParameters[param]"
                [name]="param"
                required
                (ngModelChange)="onParameterChange()"
              >
                <mat-option value="">Select {{ param }}</mat-option>
                <mat-option
                  *ngFor="let option of parseDropdownOptions(selectedRuleTypeInfo.parameterDescriptions[param])"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>

              <!-- Text input for parameters without bracket notation and not date fields -->
              <input
                *ngIf="!isDateField(param) && !selectedRuleTypeInfo.parameterDescriptions[param].includes('[')"
                matInput
                [(ngModel)]="ruleParameters[param]"
                [name]="param"
                required
                (ngModelChange)="onParameterChange()"
              />
            </mat-form-field>
          </div>
          <div *ngFor="let param of selectedRuleTypeInfo.optionalParameters" class="form-group">
            <mat-form-field>
              <mat-label>{{ param }}</mat-label>

              <!-- Date picker for date fields -->
              <ng-container *ngIf="isDateField(param)">
                <input
                  matInput
                  [matDatepicker]="datePicker"
                  [(ngModel)]="ruleParameters[param]"
                  [name]="param"
                  (ngModelChange)="onParameterChange()"
                />
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
              </ng-container>

              <!-- Dropdown for parameters with bracket notation -->
              <mat-select
                *ngIf="!isDateField(param) && selectedRuleTypeInfo.parameterDescriptions[param].includes('[')"
                [(ngModel)]="ruleParameters[param]"
                [name]="param"
                (ngModelChange)="onParameterChange()"
              >
                <mat-option value="">Select {{ param }}</mat-option>
                <mat-option
                  *ngFor="let option of parseDropdownOptions(selectedRuleTypeInfo.parameterDescriptions[param])"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>

              <!-- Text input for parameters without bracket notation and not date fields -->
              <input
                *ngIf="!isDateField(param) && !selectedRuleTypeInfo.parameterDescriptions[param].includes('[')"
                matInput
                [(ngModel)]="ruleParameters[param]"
                [name]="param"
                (ngModelChange)="onParameterChange()"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Priority</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="discountRule.rulePriority"
              name="rulePriority"
              required
              min="0"
            />
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-checkbox [(ngModel)]="discountRule.active" name="active"> Active </mat-checkbox>
        </div>

        <div class="form-actions">
          <button mat-raised-button type="button" [routerLink]="['../']">Cancel</button>
          <button mat-raised-button color="primary" type="submit">Update</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
