/* ############ Light mode palettes ################ */

$primary-palette: (
  100: #011b33,
  // Stack Blue (lighter variant)
  500: #011b33,
  // Stack Blue (main primary)
  700: #000,
  // Black (darker variant)
  contrast: (
      100: white,
      500: white,
      700: white
    )
);

$accent-palette: (
  100: #00c3f7,
  // Cerulean Blue (light accent)
  500: #00c3f7,
  // Cerulean Blue (main accent)
  700: #447384,
  // Dark blue (darker accent)
  contrast: (
      100: rgb(0 0 0 / 87%),
      500: white,
      700: white
    )
);

/* ############ Dark mode palettes ################ */

$dark-primary-palette: (
  100: #011b33,
  // Stack Blue
  500: #011b33,
  // Stack Blue (main)
  700: #000,
  // Black
  contrast: (
      100: white,
      500: white,
      700: white
    )
);

$dark-accent-palette: (
  100: #00c3f7,
  // Cerulean Blue (light accent)
  500: #00c3f7,
  // Cerulean Blue (main accent)
  700: #285066,
  // Dark blue (darker accent)
  contrast: (
      100: rgb(0 0 0 / 87%),
      500: white,
      700: white
    )
);
