.container {
  max-width: 37rem;

  .title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: -15px;
  }
}

.home-logo {
  max-width: 48px;
  width: 48px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.mat-list-base {
  padding-top: 0;
}

a {
  text-decoration: none;
  color: black;
}
